ui-button {
  @extend %ripple;
  @include inline-flex-center;

  // Styling
  border-radius: $border-radius;
  user-select: none;
  padding: 0 1.25em;
  font-weight: 600;
  cursor: pointer;
  height: 2.25em;

  // Ellipsis for Text
  span {
    @include ellipsis;
    z-index: 2;
  }

  // Children are not clickable
  > * { pointer-events: none; }

  // Types
  &:not(.disabled) {
    @each $type, $type-color, $font-color in (
        secondary $secondary #FFF,
        primary $primary #FFF,
        success $success #FFF,
        warning $warning #FFF,
        danger $danger #FFF,
        input $input #333) {
      &.ui-button-#{$type} {
        background: $type-color;
        color: $font-color;

        &:hover {
          background: dampen($type-color, 15%);
        }
      }
    }

    &.ui-button-input {
      border: $border;

      &:hover, &:focus, &:active {
        border-color: transparent !important;
      }
    }
  }

  // Big size
  &.ui-button-big {
    line-height: 47px;
    font-size: 22px;
    height: 49px;

    // Align text to top
    span {
      align-self: flex-start;
    }
  }

  // Small size
  &.ui-button-small {
    font-size: 12px;
  }

  // Readonly state
  &.readonly {
    @extend %readonly;
  }

  &:focus {
    outline: none;
  }

  // Disabled state
  &.disabled {
    @extend %disabled;
    @include colors($disabled);

    &:active svg {
      opacity: 0;
    }

    svg {
      transition: 0;
    }

    &:focus svg {
      transform: translate(-50%, -50%) scale(0);
      transition: 0;
    }
  }
}
