ui-breadcrumbs {
  @include colors(dampen($background, 5%));

  border-bottom: 1px solid dampen($background, 10%);
  display: block;
  padding: 15px;

  ui-breadcrumb {
    display: inline-block;

    &.clickable:hover {
      cursor: pointer;
      color: $focus;
    }

    span {
      font-weight: 600;
    }

    + :not(ui-breadcrumb) {
      margin: 0 7px;
      opacity: 0.5;
    }
  }
}
