ui-button {
  @include inline-flex-center;

  // Styling
  border-radius: $border-radius;
  position: relative;
  padding: 0 1.25em;
  font-weight: 600;
  cursor: pointer;
  height: 2.25em;

  // Ellipsis for Text
  span { @include ellipsis; }

  // Children are not clickable
  > * { pointer-events: none; }

  // Types
  &:not(.disabled) {
    @each $type, $type-color, $font-color in (
        secondary $secondary #FFF,
        primary $primary #FFF,
        success $success #FFF,
        warning $warning #FFF,
        danger $danger #FFF) {
      &.ui-button-#{$type} {
        background: $type-color;
        color: $font-color;

        &:focus, &:hover {
          background: dampen($type-color, 15%);

          &:before {
            box-shadow: 0 0 3px 1px rgba($type-color, 0.5);
            border-color: rgba($type-color, 0.4);
          }
        }

        &:active {
          background: dampen-inverse($type-color, 15%);
        }
      }
    }
  }

  // Big size
  &.ui-button-big {
    line-height: 47px;
    font-size: 22px;
    height: 49px;

    // Align text to top
    span {
      align-self: flex-start;
    }
  }

  // Small size
  &.ui-button-small {
    font-size: 12px;
  }

  // Disabled state
  &.disabled {
    @extend %disabled;
    @include colors($disabled);
  }

  // Focused state
  &:focus {
    outline: none;

    &:before {
      border: 1px solid transparent;
      border-radius: inherit;
      pointer-events: none;
      position: absolute;
      bottom: -2px;
      content: '';
      right: -2px;
      left: -2px;
      top: -2px;
    }
  }
}
