ui-container {
  display: flex;

  &.direction-row {
    flex-direction: row;

    &.align-start {
      align-items: flex-start;
    }

    &.align-center {
      align-items: center;
    }

    &.align-end {
      align-items: flex-end;
    }

    &:not(.compact) > * + * {
      margin-left: 10px;
    }
  }

  &.direction-column {
    flex-direction: column;

    &.align-start {
      justify-content: flex-start;
    }

    &.align-center {
      justify-content: center;
    }

    &.align-end {
      justify-content: flex-end;
    }

    &:not(.compact) > * + * {
      margin-top: 10px;
    }
  }
}
