ui-calendar {
  @include colors($input);
  @include border;

  transform: translate3d(0,0,0);
  display: inline-block;
  padding: 15px;

  // Header
  ui-container {
    border-bottom: $border;
    border-bottom-style: dashed;
    height: 45px;

    padding: 5px;
    padding-bottom: 10px;

    div {
      justify-content: center;
      align-items: center;
      display: flex;
      flex: 1;
    }

    ui-icon {
      width: 30px;

      &:first-child {
        justify-content: flex-start;
      }

      &:last-child {
        justify-content: flex-end;
      }
    }
  }

  // Table
  ui-calendar-table {
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    width: 300px;
  }

  // Day names
  ui-calendar-header {
    border-bottom: $border;
    border-bottom-style: dashed;
    justify-content: space-around;
    margin-bottom: 5px;
    display: flex;
    width: 300px;

    span {
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      margin: 5px 0;
      opacity: 0.7;
      width: 34px;
    }
  }

  // Table Cell
  ui-calendar-cell {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 34px;
    width: 34px;
    margin: 4px;

    // Inactive state
    &.inactive {
      opacity: 0.25;
    }

    // Basic state
    &:not(:empty) {
      @include colors(dampen($background, 1%));

      border-radius: $border-radius;
    }

    // Hover & Selected State
    &:not(.inactive):hover,
    &.selected {
      @include colors($primary);

      font-weight: 600;
      cursor: pointer;
    }
  }

  // Readonly state
  &.readonly {
    ui-icon {
      display: none;
    }

    > * {
      pointer-events: none;
    }
  }

  // Disabled state
  &.disabled {
    @extend %disabled;
    background: $disabled;

    > * {
      pointer-events: none;
    }

    ui-calendar-cell {
      &:not(:empty) {
        @include colors(dampen($disabled, 6%));
      }

      &.selected {
        @include colors(dampen($disabled, 50%));
      }
    }
  }
}
