ui-color-panel {
  @include colors($input);
  @include border;

  // Styling
  transform: translate3d(0, 0, 0);
  flex-direction: column;
  user-select: none;
  display: flex;
  padding: 15px;
  width: 250px;

  // Disabled State
  &.disabled {
    @extend %disabled;

    background: $disabled;
    filter: saturate(0);

    ui-color-panel-hue,
    ui-color-panel-rect,
    ui-color-panel-alpha {
      pointer-events: none;
    }

    ui-color-panel-handle {
      border-color: $disabled;
    }
  }

  // Handle
  ui-color-panel-handle {
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 0 4px rgba(#000, 0.5);
    background: rgba(#666, 0.5);
    border: 2px solid $input;
    pointer-events: none;
    position: absolute;
    border-radius: 50%;
    height: 16px;
    width: 16px;
  }

  &.readonly {
    @extend %readonly;
  }

  &:not(.readonly) {
    ui-color-panel-rect {
      cursor: pointer;
    }

    ui-color-panel-hue {
      cursor: row-resize;
    }

    ui-color-panel-alpha {
      cursor: col-resize;
    }
  }

  // Parts
  ui-color-panel-hue,
  ui-color-panel-rect,
  ui-color-panel-alpha {
    position: relative;
  }

  ui-color-panel-hue, {
    box-shadow: 0 0 1px 1px rgba(#000, 0.4) inset;
    border-radius: $border-radius;
  }

  ui-color-panel-rect,
  ui-color-panel-alpha > div {
    box-shadow: 0 0 1px 1px rgba(#000, 0.2) inset;
    border-radius: $border-radius;
  }

  ui-color-panel-rect {
    height: 186px;
  }

  ui-color-panel-controls {
    margin-top: 15px;
    justify-content: space-between;
    display: flex;

    input:not([type]) {
      text-transform: uppercase;
      flex: 0 0 65px;
    }

    input[type=number],
    input:not([type]) {
      text-align: center;
      line-height: 14px;
      padding: 4px 0;
      padding-top: 3px;
      font-weight: 600;
      font-size: 13px;
      height: 30px;
      width: 35px;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        display: none;
      }
    }
  }

  ui-color-panel-hsv {
    flex-direction: column;
    display: flex;
    flex: 1;

    // Rect + Hue container
    > div {
      margin-bottom: 15px;
      display: flex;
      flex: 1;

      ui-color-panel-hue {
        background-image: linear-gradient(to bottom, #F00 0%, #FF0 17%, #0F0 33%,
                                          #0FF 50%, #00F 67%, #F0F 83%, #F00 100%);
        flex: 0 0 16px;

        ui-color-panel-handle {
          border-radius: $border-radius;
          transform: translateY(-50%);
          height: 10px;
          left: -4px;
          right: -4px;
          width: auto;
        }
      }

      ui-color-panel-rect {
        background-image: linear-gradient(0deg, #000 0%, transparent 100%),
                          linear-gradient(90deg, #FFF 0%, rgba(#FFF, 0) 100%);
        margin-right: 15px;
        flex: 1;
      }
    }
  }

  // Alpha
  ui-color-panel-alpha {
    background-color: dampen($background, 10%);
    background-image: linear-gradient(45deg, $background 25%, transparent 25%, transparent 75%, $background 75%, $background),
                      linear-gradient(45deg, $background 25%, transparent 25%, transparent 75%, $background 75%, $background);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    flex: 0 0 16px;

    ui-color-panel-handle {
      border-radius: $border-radius;
      transform: translateX(-50%);
      height: auto;
      bottom: -4px;
      width: 10px;
      top: -4px;
    }

    > div {
      pointer-events: none;
      height: 16px;
    }
  }
}
