ui-color-panel {
  width: 250px;
  height: 250px;
  display: flex;
  background: $input;
  border: $border;
  padding: 15px;
  border-radius: $border-radius;
  flex-direction: column;

  &.disabled {
    @extend %disabled;
  }

  ui-color-panel-handle {
    background: rgba(#666, 0.5);
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 0 4px rgba(#000, 0.5);
    pointer-events: none;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #FFF;
    height: 16px;
    width: 16px;
  }

  ui-color-panel-hue,
  ui-color-panel-rect,
  ui-color-panel-alpha {
    border-radius: $border-radius;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 1px 1px rgba(#000, 0.2) inset;
  }

  > div {
    display: flex;
    flex: 1;
    margin-bottom: 10px;

    ui-color-panel-hue {
      flex: 0 0 16px;
      background-image: linear-gradient(to bottom, #F00 0%, #FF0 17%, #0F0 33%,
                                        #0FF 50%, #00F 67%, #F0F 83%, #F00 100%);

      ui-color-panel-handle {
        border-radius: $border-radius;
        transform: translateY(-50%);
        height: 10px;
        left: -4px;
        right: -4px;
        width: auto;
      }
    }

    ui-color-panel-rect {
      background-image: linear-gradient(0deg, #000 0%, transparent 100%),
                        linear-gradient(90deg, #FFF, 0%, rgba(#FFF, 0) 100%);
      margin-right: 10px;
      flex: 1;
    }
  }

  ui-color-panel-alpha {
    background: linear-gradient(45deg, #DDD 25%, transparent 25%, transparent 75%, #DDD 75%, #DDD),
                linear-gradient(45deg, #DDD 25%, transparent 25%, transparent 75%, #DDD 75%, #DDD);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    flex: 0 0 16px;

    ui-color-panel-handle {
      border-radius: $border-radius;
      transform: translateX(-50%);
      width: 10px;
      top: -4px;
      bottom: -4px;
      height: auto;
    }

    > div {
      height: 16px;
      pointer-events: none;
    }
  }
}
