ui-picker {
  @extend %focused-idle;

  @include colors($input);
  @include border;

  transition: z-index 1ms 320ms, box-shadow 400ms linear;
  display: inline-flex;
  min-width: 220px;
  height: 36px;

  ui-picker-input {
    display: block;
    position: relative;
    cursor: pointer;

    padding: 6px 9px;
    padding-right: 52px;
  }

  // Focused state
  &:focus {
    @extend %focused;
  }

  &.readonly {
    @extend %readonly;
  }

  // Disabled state
  &.disabled {
    @extend %disabled;
    background: $disabled;
  }

  // Color preview on the right side
  ui-color-picker-rect {
    background-color: dampen($secondary, 5%);
    background-image: linear-gradient(45deg, $background 25%, transparent 25%, transparent 75%, $background 75%, $background),
                      linear-gradient(45deg, $background 25%, transparent 25%, transparent 75%, $background 75%, $background);
    background-position: 0 0, 9px 9px;
    background-size: 18px 18px;

    border-radius: $border-radius;
    position: absolute;
    display: flex;
    width: 37px;
    bottom: 4px;
    right: 4px;
    top: 4px;

    div {
      box-shadow: 0 0 1px 1px rgba(#000, 0.2) inset;
      border-radius: $border-radius;
      flex: 1;
    }
  }

  // Disabled state
  &.disabled {
    filter: saturate(0);
  }

  // Color text
  > div {
    @include ellipsis;

    text-transform: uppercase;
    flex: 1;
  }

  ui-color-panel {
    border: 0;
  }
}
