ui-container {
  display: flex;

  &.align-start {
    justify-content: flex-start;
  }

  &.align-center {
    justify-content: center;
  }

  &.align-end {
    justify-content: flex-end;
  }

  &.direction-row {
    flex-direction: row;

    &:not(.compact) > * + * {
      margin-left: 10px;
    }
  }

  &.direction-column {
    flex-direction: column;

    &:not(.compact) > * + * {
      margin-top: 10px;
    }
  }
}
