*[dropdown] {
  display: inline-block;
}

*[dropdown-panel] {
  @include colors($input);
  @include border;

  box-shadow: 0 5px 20px rgba(#000, 0.1);
  background: $input;
  position: fixed;

  transition: opacity 150ms, transform 150ms, visibility 1ms 150ms;
  z-index: map-get($z-index, dropdown);
  transform: translateY(10px);
  pointer-events: none;
  visibility: hidden;
  opacity: 0;

  &.open {
    transition: opacity 150ms, transform 150ms, visibility 1ms;
    transform: translateY(0);
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }
}

ui-dropdown-menu {
  ui-dropdown-menu-item {
    padding: 9px 14px;
    display: flex;

    // Separator between menu items
    + * {
      border-top: 1px solid rgba(#000, 0.05);
    }

    // Spacing inside items
    > * + * {
      margin-left: 10px;
    }

    // Icon styles
    ui-icon {
      font-size: 20px;
      width: 30px;

      &:first-child {
        margin-left: -7px;
      }
    }

    // Hove styles
    &:hover {
      cursor: pointer;
      color: $focus;
    }
  }

  ui-dropdown-menu-items {
    padding: 7px;
  }
}
