ui-dropdown {
  @include colors($input);
  @include border;

  // Position & Size
  top: calc(100% + 2px);
  position: absolute;
  max-height: 250px;
  z-index: 100;
  right: 0;
  left: 0;

  // Stlying
  box-shadow: 0 5px 20px rgba(#000, 0.1);
  overflow: auto;
  padding: 3px;

  // Effect
  transition: opacity 320ms, transform 320ms, visibility 1ms 320ms;
  transform: translateY(10px);
  visibility: hidden;
  opacity: 0;
}

// Open state
.dropdown-open ui-dropdown {
  transition: opacity 320ms, transform 320ms, visibility 1ms;
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
