ui-dropdown {
  @include colors($input);
  @include border;

  // Position & Size
  z-index: map-get($z-index, dropdown);
  position: absolute;
  max-height: 250px;
  right: 0;
  left: 0;

  // Stlying
  box-shadow: 0 5px 20px rgba(#000, 0.1);
  overflow: auto;
  padding: 3px;

  // Effect
  transition: opacity 320ms, transform 320ms, visibility 1ms 320ms;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;

  // Top Left Position
  &.position-top-left,
  &.position-top-right {
    transform: translateY(-10px);
    bottom: calc(100% + 4px);
  }

  &.position-top-right,
  &.position-bottom-right {
    right: auto;
    left: 0;
  }

  &.position-top-left,
  &.position.bottom-left {
    left: auto;
    right: 0;
  }

  // Bottom Position
  &.position-bottom-left,
  &.position-bottom-right {
    transform: translateY(10px);
    top: calc(100% + 4px);
  }
}

// Open state
.dropdown-open {
  transition: z-index 1ms;
  z-index: 1;

  ui-dropdown {
    transition: opacity 320ms, transform 320ms, visibility 1ms;
    transform: translateY(0);
    pointer-events: auto;
    visibility: visible;
    opacity: 200;
  }
}
