.ui-date-picker {
  // Icon on the right side
  ui-icon {
    flex: 0 0 30px;
    margin-left: 10px;
    font-size: 20px;
  }

  // Date text
  ui-picker-input {
    padding-right: 4px;
    display: flex;

    span {
      @include ellipsis;

      flex: 1;
    }
  }

  ui-calendar {
    border: 0;
  }
}
