ui-file-input {
  border: $border-radius;
  background: $input;
  border: $border;
  display: flex;
  height: 36px;

  div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    line-height: 36px;
    padding: 0 10px;
    cursor: pointer;
    flex: 1;

    &:hover {
      color: $focus;
    }
  }

  ui-button {
    border-radius: 0 $border-radius $border-radius 0;
    position: relative;
    border: $border;
    right: -1px;
    top: -1px;
  }

  &.disabled, &.readonly {
    div {
      pointer-events: none;
    }
  }

  &.readonly {
    cursor: $readonly-cursor;
  }

  &.disabled {
    @extend %disabled;

    ui-button {
      border-left: 0;
      right: 0;
    }
  }
}

ui-file-input-details {
  border: $border-radius;
  background: $input;
  border: $border;
  display: flex;
  padding: 20px;

  ui-file-input-info {
    display: block;
    min-width: 0;
    height: 70px;
    flex: 1;

    > * {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  ui-file-input-no-file {
    height: 70px;
    display: flex;
    font-size: 20px;
    flex: 1;
    min-width: 0;
    align-items: center;
  }

  ui-file-input-size,
  ui-file-input-type {
    font-size: 14px;
    display: block;
  }

  ui-button {
    margin-left: 20px;
    flex: 0 0 auto;
    height: auto;
  }

  ui-file-input-name {
    margin-bottom: 5px;
    font-size: 20px;
    display: block;
  }

  &.readonly {
    cursor: $readonly-cursor;
  }

  &.disabled {
    @extend %disabled;
  }

  &.disabled, &.readonly {
    ui-file-input-info,
    ui-file-input-no-file {
      pointer-events: none;
    }
  }
}
