ui-header {
  @include colors($color-header);

  background: linear-gradient(dampen($color-header, 2%), $color-header);
  text-shadow: 0 1px 0 rgba(#000, 0.2);
  box-shadow: 0 0 10px rgba(#000, 0.2);
  position: relative;
  padding: 0 20px;
  flex: 0 0 auto;
  z-index: 10;

  flex-direction: row;
  align-items: center;
  display: flex;

  line-height: 60px;
  height: 60px;

  > * + * {
    margin-left: 5px;
  }
}

%ui-header-item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  padding: 0 17px;
  height: inherit;

  &[interactive] {
    @extend %interactive;
  }
}

%interactive {
  @extend %ripple;

  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  position: relative;
  transition: 220ms;
  cursor: pointer;

  &:focus,
  &:hover {
    outline: none;
  }

  &:focus {
    transition: 220ms 100ms;
    border-color: rgba(black, 0.4);
  }
}

ui-header-separator {
  background: dampen-inverse($color-header, 10%);
  height: 40px;
  width: 2px;
}

ui-header-icon {
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 0 17px;
  flex: 0 0 auto;
  display: flex;
  color: white;

  &[interactive] {
    @extend %interactive
  }
}

ui-header-title {
  @extend %ui-header-item;

  font-size: 20px;
}

ui-header-item {
  @extend %ui-header-item;
}

ui-header-icon-item {
  @extend %ui-header-item;

  ui-icon + span,
  span + ui-icon {
    margin-left: 12px;
  }
}
