ui-header {
  @include colors($color-header);

  border-bottom: 1px solid $color-header-border;
  text-shadow: 0 1px 0 rgba(#000, 0.2);
  position: relative;
  line-height: 60px;
  padding: 0 20px;
  display: block;
  flex: 0 0 auto;
  height: 60px;
  z-index: 10;

  flex-direction: row;
  align-items: center;
  display: flex;

  > * + * {
    margin-left: 20px;
  }
}

ui-header-icon {
  @extend ui-icon;

  font-size: 32px;
  flex: 0 0 32px;
  width: 32px;
}

ui-header-title {
  align-items: center;
  font-weight: 600;
  font-size: 22px;
  display: flex;

  div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

ui-header-separator {
  background: dampen($color-header, 10%);
  height: 40px;
  width: 2px;
}

%ui-header-item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
}

ui-header-item {
  @extend %ui-header-item;
}

ui-header-icon-item {
  @extend %ui-header-item;

  ui-icon + span,
  span + ui-icon {
    margin-left: 10px;
  }
}
