ui-header {
  @include colors(dampen($background, 5%));

  border-bottom: 1px solid dampen($background, 10%);
  position: relative;
  line-height: 60px;
  padding: 0 20px;
  display: block;
  flex: 0 0 auto;
  height: 60px;
  z-index: 10;

  flex-direction: row;
  align-items: center;
  display: flex;

  > * + * {
    margin-left: 20px;
  }
}

ui-header-icon {
  @extend ui-icon;

  font-size: 32px;
  flex: 0 0 32px;
  width: 32px;
}

ui-header-title {
  align-items: center;
  font-weight: 600;
  font-size: 22px;
  display: flex;

  div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

ui-header-separator {
  background: dampen($background, 10%);
  height: 40px;
  width: 2px;
}

%ui-header-item {
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: $focus;
  }

  &:focus {
    color: $focus;
    outline: none;
  }
}

ui-header-item {
  @extend %ui-header-item;
}

ui-header-icon-item {
  @extend %ui-header-item;

  ui-icon + span,
  span + ui-icon {
    margin-left: 10px;
  }
}
