ui-input {
  display: inline-block;

  &.disabled input {
    @extend %disabled;
    @include colors($disabled);
    border-color: $disabled;
  }

  input {
    &:focus {
      @extend %focused;
    }

    &[readonly]:focus {
      @extend %focused-readonly;
    }
  }
}

input:not([type]),
input[type=text],
input[type=email],
input[type=password] {
  @extend %focused-idle;

  @include colors($input);
  @include border;

  font-family: inherit;
  font-size: inherit;
  line-height: 16px;
  padding: 6px 9px;
  height: 36px;

  &::-webkit-input-placeholder {
    line-height: 22px;
  }

  &[readonly] {
    &::-moz-selection { background: transparent; }
    &::selection { background: transparent; }
  }
}
