ui-inplace-input {
  // Textarea is in the background
  ui-textarea {
    z-index: 0;
  }

  // Mimic textarea white space
  > div {
    word-break: break-word;
    white-space: pre-wrap;

    &:empty:before {
    	content: attr(placeholder);
    	font-style: italic;
    	cursor: pointer;
    	opacity: 0.5;
    }
  }
}
