ui-icon {
  justify-content: center;
  display: inline-flex;
  align-items: center;

  &:focus {
    outline: none;
    color: $focus;
  }

  &.clickable {
    cursor: pointer;

    &:hover {
      color: $focus;
    }
  }
}
