%ui-layout-base {
  min-height: 100vh;
  display: flex;
}

ui-layout-sidebar {
  @extend %ui-layout-base;

  ui-layout-sidebar-bar {
    flex: 0 0 auto;
  }

  ui-layout-sidebar-content {
    display: block;
    flex: 1;
  }
}

ui-layout-app {
  @extend %ui-layout-base;

  ui-layout-app-sidebar,
  ui-layout-app-toolbar {
    flex: 0 0 auto;
  }

  ui-layout-app-wrapper {
    flex-direction: column;
    display: flex;
    height: 100vh;
    flex: 1;
  }

  ui-layout-app-content {
    display: block;
    flex: 1;
  }
}

ui-layout-website {
  @extend %ui-layout-base;
  flex-direction: column;

  ui-layout-website-header,
  ui-layout-website-footer {
    flex: 0 0 auto;
  }

  ui-layout-website-content {
    flex: 1;
  }
}
