@keyframes loader {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: 200px;
  }
}

ui-loader {
  height: 5px;
  display: block;
  visibility: hidden;
  animation: loader 1s infinite linear;
  background: linear-gradient(90deg, $primary, $primary 49.9999%, $focus 50%, $focus);
  background-size: 200px 5px;
  transition: 320ms;
  opacity: 0;

  &.loading {
    opacity: 1;
    visibility: visible;
  }
}
