ui-number-pad {
  display: flex;
  flex-direction: column;

  ui-number-pad-value {
    display: flex;
    background: $input;
    color: readable($input);
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: $border-radius;
    border: $border;

    span {
      font-size: 24px;
      font-weight: 600;
      flex: 1;
    }

    ui-icon {
      font-size: 26px;
    }
  }

  ui-number-pad-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;

    ui-number-pad-button {
      width: calc((100% - 20px) / 3);
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      background: $secondary;
      color: readable($secondary);
      border-radius: $border-radius;

      font-size: 20px;
      font-weight: 600;

      transition: 300ms;
      position: relative;

      &:nth-child(n+10) {
        margin-bottom: 0;
      }

      > * {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:active {
        color: readable($primary);
        background: $primary;
        transition: 50ms;
      }
    }
  }

  &:focus {
    outline: none;

    ui-number-pad-value {
      box-shadow: $focus-shadow;
    }
  }
}
