@keyframes ui-notification-show {
  0% {
    transform: translateX(100%) translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes ui-notification-hide {
  0% {
    transform: translateX(0);
    margin-bottom: 10px;
    max-height: 100px;
  }

  50% {
    transform: translateX(100%) translateX(50px);
    margin-bottom: 10px;
    max-height: 100px;
  }

  100% {
    transform: translateX(100%) translateX(50px);
    margin-bottom: 0;
    max-height: 0;
  }
}

ui-notification-center {
  z-index: map-get($z-index, notifications);
  transform: translate3d(0, 0, 0);
  position: fixed;
  right: 20px;
  top: 20px;

  flex-direction: column;
  align-items: flex-end;
  display: flex;

  ui-notification {
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-fill-mode: both;
    margin-bottom: 10px;
    max-height: 100px;
    overflow: visible;
    display: block;

    &:hover {
      cursor: pointer;

      div {
        background: rgba(#000, 0.65);
      }
    }

    div {
      border-radius: $border-radius;
      background: rgba(#000, 0.8);
      padding-bottom: 16px;
      padding: 14px 24px;
      color: #FFF;
    }

    &.ui-notification-show {
      animation-name: ui-notification-show;
    }

    &.ui-notification-hide {
      animation-name: ui-notification-hide;
    }
  }
}
