ui-number-pad {
  transform: translate3d(0,0,0);
  flex-direction: column;
  min-height: 300px;
  display: flex;

  // Input like box to show the value
  ui-number-pad-value {
    @extend %focused-idle;
    @include colors($input);
    @include border;

    margin-bottom: 10px;
    padding: 10px 15px;
    display: flex;

    span {
      font-weight: 600;
      font-size: 24px;
      flex: 1;
    }

    ui-icon {
      font-size: 26px;
    }
  }

  // Buttons
  ui-number-pad-buttons {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    flex: 1;

    // Button
    ui-number-pad-button {
      @include colors($secondary);

      border-radius: $border-radius;
      width: calc((100% - 20px) / 3);
      margin-bottom: 10px;
      position: relative;
      transition: 200ms;
      font-weight: 600;
      font-size: 20px;
      cursor: pointer;

      justify-content: center;
      align-items: center;
      display: flex;

      &:hover {
        @include colors(dampen($secondary, 7%));
      }

      // Last row no margin
      &:nth-child(n+10) {
        margin-bottom: 0;
      }

      // Don't show empty buttons (bottom left / bottom right)
      &:empty {
        background: transparent;
        pointer-events: none;
        cursor: auto;
      }

      // Position children
      > * {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;

        justify-content: center;
        align-items: center;
        display: flex;
      }

      &:active {
        @include colors($primary);
        transition: 50ms;
      }
    }
  }

  // Disabled state
  &.disabled {
    @extend %disabled;

    > * {
      pointer-events: none;
    }

    ui-number-pad-value {
      border-color: $disabled;
      background: $disabled;
    }
  }

  // Readnoly state
  &.readonly {
    ui-number-pad-button, ui-icon {
      pointer-events: none;
    }

    &:focus {
      outline: none;

      ui-number-pad-value {
        box-shadow: $focus-shadow-readonly;
      }
    }
  }

  // Normal state
  &:not(.readonly):not(.disabled):focus {
    outline: none;

    ui-number-pad-value {
      box-shadow: $focus-shadow;
    }
  }
}
