ui-ratings {
  display: inline-block;
  height: 36px;

  // Individual star
  ui-ratings-star {
    justify-content: center;
    display: inline-flex;
    align-items: center;
    height: 36px;
    width: 36px;

    &:before {
      font-family: Ionicons;
      font-size: 36px;
    }

    // Full star glyph
    &.ui-ratings-full:before {
      content: '\f2fc';
    }

    // Empty star glyph
    &.ui-ratings-empty:before {
      content: '\f3ae';
    }
  }

  // Normal state
  &:not(.readonly):not(.disabled) {
    &:focus, &:hover {
      cursor: pointer;
      outline: none;
      color: $focus;
    }
  }

  // Readonly state
  &.readonly {
    @extend %readonly;

    outline: none;

    > * { pointer-events: none; }

    &:focus { color: $focus; }
  }

  // Disabled state
  &.disabled {
    @extend %disabled;

    color: $disabled;
    opacity: 1;
  }
}
