ui-slider {
  box-sizing: content-box;
  align-items: center;
  position: relative;
  user-select: none;
  cursor: pointer;
  display: flex;
  height: 36px;

  &:focus {
    outline: none;

    ui-slider-handle {
      background: $focus;
      border: 2px solid $input;
    }
  }

  &.disabled {
    @extend %disabled;
  }

  * {
    pointer-events: none;
  }

  ui-slider-bar {
    border-radius: $border-radius;
    border: $border;

    position: relative;
    background: $input;
    display: block;
    height: 12px;
    flex: 1;
  }

  ui-slider-progress {
    border-radius: $border-radius;
    background: $primary;

    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
  }

  ui-slider-handle {
    box-shadow: 0 2px 2px rgba(#000, 0.1);
    position: absolute;
    margin-left: -6px;
    background: $input;
    border: $border;
    width: 12px;
    bottom: 3px;
    top: 3px;
    left: 0;
  }
}
