ui-spacer {
  margin: auto;
}

ui-subtitle {
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

ui-panel {
  display: block;
  padding: 20px;
}

ui-text {
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

ui-scrolled-panel {
  max-height: inherit;
  position: relative;
  height: inherit;
  display: flex;
  flex: 1;

  ui-scrolled-panel-wrapper {
    max-height: inherit;
    overflow-y: scroll;
    padding-right: 5px;
    height: inherit;
    flex: 1;

    &::-webkit-scrollbar {
      height: 10px;
      width: 10px;
    }

    &::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }

    &::-webkit-scrollbar-thumb {
      background: dampen($background, 20%);
      border-radius: $border-radius;
      border: 0;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: dampen($background, 40%);
    }

    &::-webkit-scrollbar-track {
      border-radius: $border-radius;
      background: $secondary;
      border: 0;
    }

    &::-webkit-scrollbar-corner {
      background: transparent;
    }
  }
}
