ui-tabs {
  position: relative;
  display: block;

  ui-tab-handles {
    border-bottom: $border;
    display: flex;
  }

  ui-tabs-content {
    @include colors($input);

    border-radius: 0 0 $border-radius $border-radius;
    position: relative;
    display: block;
    padding: 10px;
    z-index: 1;

    border: $border;
    border-top: 0;
  }

  ui-tab-handle {
    @include colors(#E2E2E2);

    @extend %focused-idle;

    box-shadow: 0 0 0 1px rgba($input, 0) inset,
                0 0 0 2px rgba($focus, 0) inset,
                0 0 10px rgba($focus, 0) inset;
    border-radius: $border-radius $border-radius 0 0;
    padding: 10px 20px;
    position: relative;
    transition: 300ms;
    font-weight: 600;
    z-index: 20;
    top: 1px;

    border: $border;
    border-bottom: 0;

    + ui-tab-handle {
      margin-left: 5px;
    }

    span {
      position: relative;
      z-index: 1
    }

    &.selected, &:focus {
      @include colors($input);

      &:after {
        background: linear-gradient(rgba($input, 0), rgba($input, 1) 90%);
      }
    }

    &:after {
      background: linear-gradient(rgba(#E2E2E2, 0), rgba(#E2E2E2, 1) 90%);
      position: absolute;
      transition: 300ms;
      height: 100%;
      content: "";
      bottom: 0;
      right: 0;
      left: 0;
    }

    &:focus {
      box-shadow: 0 0 0 1px $input inset,
                  0 0 0 2px $focus inset,
                  0 0 10px $focus inset;
      outline: none;
    }
  }

  &:not(.disabled):not(.readonly) ui-tab-handle {
    cursor: pointer;
  }

  &.readonly {
    @extend %readonly;
  }

  &.disabled {
    @extend %disabled;
    opacity: 0.6;
  }
}
