ui-tagger {
  display: inline-block;

  > ui-container {
    margin-bottom: 5px;

    ui-icon-button {
      flex: 0 0 36px;
      padding: 0;
    }

    ui-input {
      flex: 1;
    }
  }

  ui-tagger-tags {
    display: block;
    margin: 0 -5px;
  }

  ui-tagger-tag {
    @include colors($secondary);
    font-weight: 600;
    margin: 5px;
    line-height: 36px;
    border-radius: $border-radius;
    padding: 0 10px;
    display: inline-flex;
    align-items: center;

    ui-icon {
      margin-left: 10px;
      vertical-align: middle;
      font-size: 22px;
    }
  }

  &.disabled ui-tagger-tag {
    @include colors($disabled);
    @extend %disabled;
  }
}

