%picker {
  @extend %focused-idle;

  @include colors($input);
  @include border;

  transition: z-index 1ms 320ms;
  display: inline-block;
  position: relative;
  padding: 6px 9px;
  cursor: pointer;
  height: 36px;

  &.dropdown-open {
    transition: z-index 1ms;
    z-index: 1;
  }

  // Dropdown
  ui-dropdown {
    max-height: none;
    right: auto;

    // On mobile we use fixed positioning to display the picker
    // in the center of the screen to avoid overflowing
    @media (max-width: 600px) {
      transform: translateY(-50%) translateX(-50%);
      overflow: visible;
      position: fixed;
      left: 50%;
      top: 50%;

      ui-dropdown-overlay {
        transform: translateY(-50%) translateX(-50%);
        background: rgba(#000, 0.75);
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: -1;
        content: '';
        left: 50%;
        top: 50%;
      }
    }
  }

  // Fix opened state
  &.dropdown-open ui-dropdown {
    @media (max-width: 600px) {
      transform: translateY(-50%) translateX(-50%);
    }
  }

  // Focused state
  &:not(.readonly):focus {
    @extend %focused;
  }

  &.readonly {
    &:focus {
      @extend %focused-readonly;
    }

    ui-dropdown {
      display: none;
    }
  }

  // Disabled state
  &.disabled {
    @extend %disabled;
    background: $disabled;

    ui-dropdown {
      display: none;
    }
  }
}
