@import 'lib/functions';
@import 'lib/variables';
@import 'lib/mixins';

@import 'fonts/open-sans';
@import 'fonts/ionicons';

@import 'states/disabled';
@import 'states/focused';
@import 'states/picker';

@import 'components/ui-app';
@import 'components/ui-calendar';
@import 'components/ui-chooser';
@import 'components/ui-container';
@import 'components/ui-date-picker';
@import 'components/ui-color-picker';
@import 'components/ui-dropdown';
@import 'components/ui-icon';
@import 'components/ui-image';
@import 'components/ui-slider';
@import 'components/ui-textarea';
@import 'components/ui-title';
@import 'components/ui-button';
@import 'components/ui-icon-button';
@import 'components/ui-checkbox';
@import 'components/ui-number-pad';
@import 'components/ui-number-range';
@import 'components/ui-color-panel';
@import 'components/ui-input';
@import 'components/ui-modal';
@import 'components/ui-fab';
@import 'components/ui-dropdown-menu';
@import 'components/ui-pager';
@import 'components/ui-static';
@import 'components/ui-header';
@import 'components/ui-bar-chart';
@import 'components/ui-notifications';

* {
  -webkit-touch-callout: none;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(#000, 0);
}

body {
  color: readable($background);
  background: $background;
  font-family: Open Sans;
  font-size: 16px;
  margin: 0;
}
