@import 'ui/ui';

a {
  text-decoration: none;
}

ui-modal-wrapper {
  width: 500px;
}

.loader-container {
  height: 100px;
  position: relative;
}

ui-tagger,
ui-input,
ui-search-input,
ui-number-range,
ui-date-picker,
ui-color-picker,
ui-color-panel,
ui-chooser {
  width: 100%;
}

ui-pager {
  ui-page {
    justify-content: center;
    align-items: center;
    display: flex;

    &:nth-child(1) {
      @include colors($primary);
    }

    &:nth-child(2) {
      @include colors($warning);
    }

    &:nth-child(3) {
      @include colors($danger);
    }
  }
}

ui-layout-footer {
  min-height: 30px;
  background: #000;
}

ui-layout {
  flex-direction: column;
  min-height: 100vh;
  display: flex;

  ui-layout-main {
    display: block;
    flex: 1;
  }

  ui-layout-center {
    width: 1170px;
    margin: 0 auto;
    display: block;
  }

  &.ui-layout-center-default,
  &.ui-layout-default {
    ui-layout-main ui-layout-center {
      padding: 40px 0;
    }

    ui-header ui-layout-center {
      display: flex;
    }

    ui-header,
    ui-layout-footer {
      flex: 0 0 auto;
    }
  }
}

kitchen-sink {
  padding-top: 40px;

  table {
    @include border;
    border-collapse: collapse;

    td {
      border: $border;
      padding: 10px;

      &[colspan='3'] {
        background: dampen-inverse($background, 60%);
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}
