@import 'ui/ui';

a {
  text-decoration: none;
}

ui-modal-wrapper {
  width: 500px;
}

.loader-container {
  height: 100px;
  position: relative;
}

ui-tagger,
ui-input,
ui-search-input,
ui-number-range {
  width: 100%;
}

ui-pager {
  ui-page {
    justify-content: center;
    align-items: center;
    display: flex;

    &:nth-child(1) {
      @include colors($primary);
    }

    &:nth-child(2) {
      @include colors($warning);
    }

    &:nth-child(3) {
      @include colors($danger);
    }
  }
}

ui-layout-footer {
  min-height: 30px;
  background: #000;
}

kitchen-sink {
  display: block;
  padding: 20px;

  table {
    @include border;
    border-collapse: collapse;
    width: 100%;

    td {
      border: $border;
      padding: 10px;

      &[colspan='3'] {
        background: dampen-inverse($background, 60%);
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}
