ui-chooser {
  position: relative;
  display: inline-block;
  color: readable($input);

  input {
    position: relative;
    cursor: pointer;
    width: 100%;
    z-index: 2;
  }

  &:before {
    transition: 320ms;
    pointer-events: none;
    opacity: 0;
    border-style: solid;
    position: absolute;
    content: '';
    top: calc(50% - 3px);
    height: 0;
    width: 0;
    transform: scale(0.6);
    border-color: currentColor transparent transparent transparent;
    border-width: 6px 5px 0 5px;
    right: 15px;
    z-index: 4;
  }

  &:not(.searchable), &.searchable:not(.dropdown-open) {
    &:after {
      background: linear-gradient(90deg, rgba($input,0), $input 70%);
      border-bottom-right-radius: inherit;
      border-top-right-radius: inherit;
      pointer-events: none;
      position: absolute;
      content: "";
      width: 33.33%;
      bottom: 4px;
      right: 4px;
      z-index: 3;
      top: 4px;
    }

    &:before {
      transform: scale(1);
      opacity: 0.5;
    }
  }

  &.disabled {
    @extend %disabled;
  }

  ui-dropdown {
    &:empty:before {
      content: "No items to display!";
      padding: 12px;
      font-style: italic;
      display: block;
      opacity: 0.5;
    }
  }

  ui-chooser-item {
    border-radius: $border-radius;
    display: block;
    padding: 8px 10px;
    cursor: pointer;
    position: relative;
    transition: 200ms;
    white-space: nowrap;

    &:hover {
      background: dampen($input, 5%);
    }

    &.intended {
      background: dampen($input, 5%);
      padding-right: 25px;

      &:before {
        content: "\f124";
        position: absolute;
        top: calc(50% - 7px);
        font-size: 14px;
        right: 10px;
        font-family: Ionicons;
      }
    }

    &.selected {
      background: dampen-inverse($color, 10%);
      color: readable($color);

      &.intended {
        background: dampen-inverse($color, 2%);
      }
    }

    + * {
      margin-top: 3px;

      &:after {
        content: "";
        border-top: $border;
        position: absolute;
        top: -2px;
        left: 0;
        right: 0;
      }
    }

    > * {
      pointer-events: none;
    }
  }
}
