ui-date-picker {
  position: relative;
  display: inline-block;

  input {
    cursor: pointer;
    width: 100%;
  }

  ui-dropdown {
    right: auto;
    max-height: none;

    @media (max-width: 600px) {
      position: fixed;
      transform: translateY(-50%) translateX(-50%);
      top: 50%;
      left: 50%;
      overflow: visible;

      ui-dropdown-overlay {
        z-index: -1;
        content: '';
        position: absolute;
        transform: translateY(-50%) translateX(-50%);
        top: 50%;
        left: 50%;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.75);
      }
    }
  }

  &.dropdown-open ui-dropdown {
    @media (max-width: 600px) {
      transform: translateY(-50%) translateX(-50%);
    }
  }

  ui-calendar {
    border: 0;
  }

  &.disabled {
    @extend %disabled;
  }
}
