@import 'lib/functions';
@import 'lib/variables';

@import "fonts/open-sans";
@import "fonts/ionicons";

@import "ui-app";
@import "ui-calendar";
@import "ui-chooser";
@import "ui-container";
@import "ui-datepicker";
@import "ui-dropdown";
@import "ui-icon";
@import "ui-image";
@import "ui-slider";
@import "ui-textarea";
@import "ui-title";
@import "ui-button";
@import "ui-icon-button";
@import "ui-checkbox";
@import "ui-number-pad";

%disabled {
  pointer-events: none;
  user-select: none;
  cursor: not-allowed;
  opacity: 0.6;
}

* {
  box-sizing: border-box;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

html {
-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  color: readable($background);
  background: $background;
  font-family: Open Sans;
  font-size: 16px;
  margin: 0;
}

ui-spacer {
  flex: 1;
}

ui-subtitle {
  font-size: 18px;
  font-weight: 600;
}

ui-pager {
  display: block;
  overflow: hidden;
  position: relative;

  ui-page {
    transform: translate3d(0,0,0);
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;

    > * { flex: 1 }

    &.animating {
      transition: left 500ms cubic-bezier(0.77, 0, 0.175, 1);
    }
  }
}

ui-input-group {
  display: flex;

  ui-input-group-label {
    background: $secondary;
    font-weight: 600;
    padding: 0 15px;
    display: flex;
    align-items: center;
    border-radius: $border-radius 0 0 $border-radius;
    flex: 0 0 auto;

    + * {
      flex: 1;
    }
  }

  input:not([type]),
  input[type=text],
  input[type=email],
  input[type=password] {
    border-radius: 0 $border-radius $border-radius 0;
  }
}

ui-barchart {
  align-items: flex-end;
  display: flex;
  height: 200px;
  padding: 20px 0;
  padding-bottom: 30px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 30px;
    left: 10px;
    right: 10px;
    height: 1px;
    background: dampen($background, 5%);
  }

  ui-barchart-bar {
    position: relative;
    flex: 1;
    font-weight: 600;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    + ui-barchart-bar {
      margin-left: 16px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -9px;
        width: 1px;
        background: dampen($background, 5%);
      }
    }

    ui-barchart-bar-inner {
      display: flex;
      transition: 320ms;
      justify-content: center;
      align-items: center;
      background: $secondary;
      color: readable($secondary);
    }


    &:after {
      text-align: center;
      color: readable($background);
      content: attr(title);
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;

      font-size: 14px;
      padding: 5px;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
    }
  }
}

ui-header-title {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 22px;
  font-weight: 600;
}

ui-header {
  display: flex;
  flex: 0 0 auto;
  color: readable($color);
  background: $color;
  height: 60px;

  ui-header-title:first-child {
    padding-left: 20px;
  }

  ui-icon {
    width: 60px;
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .mobile > div {
    height: 100%;

    iframe {
      border: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: 600px) {
  .mobile {
    > div {
      display: block;
      height: 600px;
      width: 360px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -300px;
      margin-left: -180px;

      iframe {
        border: 0;
        width: 100%;
        height: 100%;
      }

      &:before {
        background: #333;
        border-radius: 10px;
        z-index: 0;
        position: absolute;
        box-shadow: 0 10px 30px -5px;
        top: -30px;
        left: -20px;
        bottom: -30px;
        right: -20px;
        content: '';
      }

      &:after {
        background: $background;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: '';
      }

      > * {
        z-index: 2;
        position: relative;
      }
    }
  }
}

/* Examples */

.money-track {
  > ui-container { height: 100vh };

  ui-pager {
    flex: 1;
  }
}

.money-track-form {
  display: flex;
  flex: 1;

  > ui-container { flex: 1 };
  ui-number-pad {
    flex: 1;
  }
}
