@import 'lib/functions';
@import 'lib/variables';

@import "fonts/open-sans";
@import "fonts/ionicons";

@import "ui-app";
@import "ui-calendar";
@import "ui-chooser";
@import "ui-container";
@import "ui-datepicker";
@import "ui-dropdown";
@import "ui-icon";
@import "ui-image";
@import "ui-slider";
@import "ui-textarea";
@import "ui-title";
@import "ui-button";
@import "ui-icon-button";
@import "ui-checkbox";
@import "ui-number-pad";

%disabled {
  pointer-events: none;
  user-select: none;
  cursor: not-allowed;
  opacity: 0.6;
}

* {
  box-sizing: border-box;
}

* {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input, textarea {
-webkit-touch-callout: text;
-webkit-user-select: text;
-khtml-user-select: text;
-moz-user-select: text;
-ms-user-select: text;
user-select: text;
}

html {
-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  color: readable($background);
  background: $background;
  font-family: Open Sans;
  font-size: 16px;
  margin: 0;
}

ui-spacer {
  flex: 1;
}

ui-subtitle {
  font-size: 18px;
  font-weight: 600;
}

ui-input-group {
  display: flex;

  ui-input-group-label {
    background: dampen($input, 2%);
    font-weight: 600;
    padding: 0 15px;
    display: flex;
    align-items: center;
    border-radius: $border-radius 0 0 $border-radius;
    flex: 0 0 auto;

    + * {
      flex: 1;
    }
  }

  input:not([type]),
  input[type=text],
  input[type=email],
  input[type=password] {
    border-radius: 0 $border-radius $border-radius 0;
  }
}
